<?xml version="1.0" encoding="utf-8"?>
<!--
   - Copyright 2016 Universidade Federal do Rio Grande do Sul
   -
   - Licensed under the Apache License, Version 2.0 (the "License");
   - you may not use this file except in compliance with the License.
   - You may obtain a copy of the License at
   -
   -     http://www.apache.org/licenses/LICENSE-2.0
   -
   - Unless required by applicable law or agreed to in writing, software
   - distributed under the License is distributed on an "AS IS" BASIS,
   - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   - See the License for the specific language governing permissions and
   - limitations under the License.
   -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cpd.ufrgsmobile"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.cpd.ufrgsmobile.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.cpd.ufrgsmobile.permission.C2D_MESSAGE" />

    <application
        android:name="com.cpd.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_adaptative_launcher"

        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.cpd.ui.splash_screen.SplashActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.cpd.ui.main_screen.MainActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name="com.cpd.ui.news_screen.news_detail.NewsOpenActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name="com.cpd.ui.news_screen.news_image.NewsOpenImageActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            />

        <activity
            android:name="com.cpd.utils.AppRegister"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            />

        <activity
            android:name="com.cpd.ui.login_screen.login_dialog.LoginDialog"
            android:exported="false"
            android:theme="@style/Translucent"
            />

        <activity
            android:name="com.cpd.ui.tickets_screen.TicketsActivity"
            android:exported="false"
            android:theme="@style/Translucent"
            />

        <activity
            android:name="com.cpd.ui.notifications_screen.NotificationsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.cpd.widget.WidgetConfigActivity"
            android:exported="false"
            android:theme="@style/Translucent">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <receiver android:name="com.cpd.widget.WidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.cpd.appcpd.DATA_FETCHED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name="com.cpd.widget.WidgetServices"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name="com.cpd.widget.WidgetRemoteService" />

        <!--push gcm-->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.cpd.gcm.UfrgsGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.cpd.gcm.InstanceIDListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service android:name="com.cpd.gcm.RegistrationIntentService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />

        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="false"
            tools:replace="android:value"/>

    </application>

</manifest>
